body {
  background: #111;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#enable {
  margin-bottom: 20px;
  padding: 10px 20px;
  background: cyan;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.holo-text {
  font-size: 5rem;
  font-weight: 900;
  color: transparent;
  background: url('holo.png') repeat;
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  user-select: none;
  transition: background-position 0.1s linear;
}
